/* OurProjects.css */

.side-container {
  flex: 0 0 3%;
  background: rgba(0, 0, 0, 0.1);
}
.pagename {
  position: relative;
  top: 50%;
  color: rgba(0, 0, 0, 0.2);
  transform: translate(0, -50%);
  writing-mode: vertical-lr;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: bolder;
  letter-spacing: 5px;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.Main-container {
  flex: 0 0 97%;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.container {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  height: 97%;
  padding: 50px;
  box-shadow: 0px 25px 30px #a7a7a7;
}

#slide {
  width: max-content;
  margin-top: 50px;
}

.item {
  width: 18%;
  height: 29%;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(35%, -50%);
  border-radius: 20px;
  box-shadow: 0px 15px 50px #505050;
}

.item:nth-child(1),
.item:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}

.item:nth-child(3) {
  left: 50%;
}

.item:nth-child(4) {
  left: calc(50% + 19%);
}

.item:nth-child(5) {
  left: calc(50% + 38%);
}

.item:nth-child(n + 6) {
  left: calc(50% + 57%);
  opacity: 0;
}

.item .content {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 20%;
  text-align: left;
  padding: 0;
  color: #eee;
  transform: translate(0, -50%);
  display: none;
  font-family: system-ui;
}

.item:nth-child(2) .content {
  display: block;
  z-index: 11111;
}

.item .name {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation: showcontent 0.5s ease-in-out 1 forwards;
}

.item .des {
  margin: 20px 0;
  opacity: 0;
  animation: showcontent 0.5s ease-in-out 0.1s 1 forwards;
}

.item .dropdowndes {
  border: none;
  opacity: 0;
  animation: showcontent 0.5s ease-in-out 0.2s 1 forwards;
}
.item .DesCard {
  border: none;
  opacity: 0;
  animation: showcontent 0.2s ease-in-out 0s forwards;
}

@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}

.buttons {
  position: absolute;
  bottom: 30px;
  z-index: 222222;
  text-align: center;
  width: 100%;
}

.buttons button {
  background: #000000;
  color: #ffffff;
  min-width: 80px;
  width: 8%;
  height: 45px;
  border: none;
  transition: 0.4s;
  letter-spacing: 1px;
}

.buttons button:hover {
  background-color: #19055a;
  color: #ffffff;
  transform: scaleX(1.1);
}

/* DesCard.css */
.DesCard {
  display: none;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  width: 150%;
  height: 200%;
  border: none;
  border-radius: 20px;
  padding: 5px;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(0, -25%);
  overflow: hidden;
}
.DesCard h1 {
  text-align: center;
  text-transform: uppercase;
}
.DesCard p {
  text-transform: capitalize;
  text-align: justify;
  overflow-y: auto;
  height: 100%;
  line-height: 1.6;
  padding: 20px;
}
.DesCard.open {
  display: block;
}

/* Scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: #969696 #dfe9eb;
}

*::-webkit-scrollbar {
  width: 9px;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #969696;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #4e4e4e;
}

.dropdowndes {
  cursor: pointer;
  color: #000;
  background-color: #dbdbdb;
  width: fit-content;
  padding: 5px;
  padding-inline: 15px;
}
