
.aboutUs-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  margin: 20px;
}
.card-container.active{
  pointer-events: none;
}

.card {
  width: 550px;
  height: 420px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  cursor: pointer;
  position: relative;
}

.cardFlip{
  transform: rotateY(180deg);
}
.card .card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  position: absolute;
}

.card .card-inner .front,
.card .card-inner .back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  backface-visibility: hidden;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.card .card-inner .front h1,h5,
.card .card-inner .back h1{
    text-transform: uppercase;
}
.card .card-inner .front h1{
  color: #1b588a;
}
.card .card-inner .front {
  background-color: #ffffff;
}
.card .card-inner .front:hover  h1 {
  color: #369aec;
    transition: 0.3s;
}
.card .card-inner .front:hover .profilePic-container .profilePic {
  transform: scale(1.1);
  transition: transform 0.7s ease-in;
}

.card .card-inner .back {
  background-color: #ffffff;
  transform: rotateY(180deg);
}
.card .card-inner .front .profilePic-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55%;
}
.card .card-inner .front .profilePic-container .profileBackground{
  background-color: #ebeaea;
  width: 100%;
  height: 30%;
  position: absolute;
  border-radius: 100% 0% 50% 50% / 0% 0% 100% 100% ;
  top: 0;
}

.card .card-inner .front .profilePic-container .profilePic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 1;
}

.card .card-inner .front .social-icons {
  display: flex;
  gap: 25px;
}

.card .card-inner .front .social-icons a {
  text-decoration: none;
  color: #676767;
  font-size: 30px;
}
.card .card-inner .front .social-icons .facebook:hover{
  color: #082e76;
}
.card .card-inner .front .social-icons .twitter:hover{
  color: #528be7;
}
.card .card-inner .front .social-icons .linkedin:hover{
  color: #da0404;
}
