body {
  background-color: #19176bee;
}
.card-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.front{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social-icon{
  display: flex;
}
.social-icon img{
  width: 40px;
  padding: 5px;
}

.card {
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.cardFlip {
  transform: rotateY(180deg);
}

.card-inner {
  width: 200px;
  height: 70%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.back {
  transform: rotateY(180deg);
}





.profilePic{
  width: 50px;
}