/*Home.css*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  font-family: "Rubik Doodle Shadow", system-ui;
}

body {
  font-family: Arial, sans-serif;
}

.main-container {
  height: 100vh;
  position: relative;
  z-index: 999;
}

.nav-margin {
  display: flex;
  justify-content: center;
 
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 1);
  backdrop-filter: 3;
  border-radius: 20px;
  width: 90%;
  margin-bottom: 1%;
}

.Logo {
  position: relative;
  transform: translate(20%, 3%);
}
.Logo img {
  height: 50px;
  transition: transform 0.5s ease;
  margin: 10px;
}
.Logo img:hover {
  transform: scale(1.1);
}

.Middle-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20rem;
  background-color: blue;
}

.Left-side{
  width: 40%;
  background-color: aqua;
  margin: auto;
}
.Right-side{
  width: 40%;
  background-color: #081c31;
  margin: auto;
}

.main-uls {
  position: relative;
  display: flex;
  list-style: none;
  gap: 45px;
}
ul a {
  text-decoration: none;
}

.nav-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 23px;
  font-weight: 500;
  font-family: "Cardo", serif;
  color: #081c31;
  padding: 10px;
  transition: transform 0.5s ease;
}

.nav-container:hover {
  color: #0a4581;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
  border-radius: 5px;
  transform: translate(0%, 15%);
}
.social-icon {
  position: relative;
  display: flex;
  gap: 20px;
}
.social-icon img {
  width: 45px;
}
.social-icon a {
  transition: transform 0.3s ease;
}
.social-icon a:hover {
  transform: scale(1.15);
}



.mobileLinks {
  display: none;
}
.dropdownmenu {
  display: none;
}
.social-icon-mobile {
  display: none;
}
@media (max-width: 1430px) {
  .social-icon-mobile {
    display: none;
  }
  
}
@media (max-width: 1171px) {

 
}
@media (max-width: 1195px) {
  .social-icon-mobile {
    display: none;
  }
  .nav-container {
    display: none;
  }

  .dropdownmenu {
    display: flex;
    align-items: center;
    font-size: 29px;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  .navbar-container {
    align-items: center;
    text-align: center;
    max-width: 650px;
    width: 75%;
    position: fixed;
  }
  .mobileLinks {
    display: table-row;
    position: absolute;
    top: 120px;
    height: 0;
    width: 300px;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .mobileLinks li:hover {
    transform: scale(1.2);
  }
  .mobileLinks.open {
    height: 300px;
    z-index: 2;
  }
  .mobileLinks li {
    padding: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobileLinks li:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
  }
  .mobileLinks a {
    text-decoration: none;
    color: aliceblue;
  }
}

@media (max-width: 1064px) {
  
  .social-icon-mobile {
    display: none;
  }
  .mobileLinks {
    left: 40%;
  }

}
@media (max-width: 830px) {

  .social-icon-mobile {
    display: none;
  }

}
@media (max-width: 728px) {
  .circle {
    left: 20vh;
  }
  .social-icon-mobile {
    display: none;
  }

  .home-decorate-image img {
    width: 350px;
  }
  
}
@media (max-width: 671px) {
  .social-icon-mobile {
    display: contents;
    background: transparent;
  }
  .social-icon-mobile {
    position: absolute;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 25px;
  }
  .social-icon-mobile img {
    width: 45px;
  }
  .social-icon-mobile a {
    transition: transform 0.2s ease;
  }
  .social-icon-mobile a:hover {
    transform: scale(1.15);
  }
  .mobileLinks.open {
    height: 370px;
    z-index: 2;
  }
  .mobileLinks {
    left: -35%;
  }
  .social-icon {
    display: none;
  }
  nav {
    align-items: center;
    width: 100%;
    position: relative;
    justify-content: space-around;
    margin-bottom: 3%;
  }
}

@media (max-width: 502px) {
  .mobileLinks {
    position: absolute;
    left: -180px;
  }
  .topic {
    font-size: 30px;
  }
  nav {
    width: 100%;
  }
  .dropdownmenu {
    position: absolute;
    top: -15px;
    right: 25px;
  }
}
@media (max-width: 315px) {
  nav {
    width: 100%;
  }
  .dropdownmenu {
    position: absolute;
    top: -15px;
    right: 25px;
  }
}
