* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dropdownmenu{
  color: #081c31;
}
.home-decorate-image-mobile {
  display: none;
}
span {
  font-family: "Rubik Doodle Shadow", system-ui;
}

body {
  font-family: Arial, sans-serif;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
background: linear-gradient(180deg, rgba(2,0,36,0.16299019607843135) 6%, rgba(9,9,121,0.14898459383753504) 52%, rgba(4,122,196,0.12657563025210083) 80%, rgba(2,164,224,0.11537114845938379) 89%, rgba(2,176,232,0.09576330532212884) 91%, rgba(0,212,255,0.0845588235294118) 95%);  background-repeat: no-repeat;
}
.blur{position: absolute;
  align-items: center;
  justify-content: center;
}
.circle {
  position: absolute;
  top: 36vh;
  left: 100vh;
  background: linear-gradient(180deg, rgba(2,0,36,1) 6%, rgba(9,9,121,0.7) 52%, rgba(4,122,196,1) 80%, rgba(2,164,224,0.7) 89%, rgba(2,176,232,1) 91%, rgba(0,212,255,1) 95%);
  filter: blur(235px);
  border-radius: 50%;
  width: 450px;
  height: 450px;
  z-index: -10;
  background-size: cover;
}

.home-decorate-image {
  position: absolute;
  transform: translate(10%, 40%);
}

.home-decorate-image img {
  height: 450px;
}
.nav-margin{
  display: flex;
  justify-content: center;

}
nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 90%;
}

.Logo {
  position: relative;
  transform: translate(20%, 3%);
}
.Logo img {
  height: 80px;
  transition: transform 0.5s ease;
}
.Logo img:hover {
  transform: scale(1.1);
}

.main-uls {
  position: relative;
  display: flex;
  list-style: none;
  gap: 45px;
}
ul a {
  text-decoration: none;
}

.nav-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 23px;
  font-weight: 500;
  font-family: "Cardo", serif;
  color: #081c31;
  padding: 10px;
  transition: transform 0.5s ease;
}

.nav-container:hover {
  color: #0a4581;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
  border-radius: 5px;
  transform: translate(0%, 15%);
}
.social-icon {
  position: relative;
  display: flex;
  gap: 20px;
}
.social-icon img {
  width: 45px;
}
.social-icon a {
  transition: transform 0.3s ease;
}
.social-icon a:hover {
  transform: scale(1.15);
}

.topic {
  position: absolute;
  display: flex;
  gap: 20px;
  text-align: start;
  right: 10%;
  top: 35%;
  color: #0d365e;
  font-size: 50px;
    z-index: -999;
}
.topic h1 {
  position: relative;
  top: 10px;
  font-weight: 900;
  z-index: -999;
}

.mobileLinks {
  display: none;
}
.dropdownmenu {
  display: none;
}
.social-icon-mobile {
  display: none;
}
@media (max-width: 1430px) {
  .topic {
    display: table-row;
    text-align: end;
    transform: translate(20%, 0%);
  }
  .social-icon-mobile {
    display: none;
  }
}
@media (max-width: 1171px) {
  .topic {
    font-size: 40px;
    transform: translate(10%, -40%);
  }
  .circle {
  left: 80vh;
}
}
@media (max-width: 1195px) {
  .social-icon-mobile {
    display: none;
  }
  .nav-container {
    display: none;
  }

  .dropdownmenu {
    display: flex;
    align-items: center;
    font-size: 29px;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  .navbar-container {
    align-items: center;
    text-align: center;
    max-width: 650px;
    width: 75%;
    position: fixed;
  }
  .mobileLinks {
    display: table-row;
    position: absolute;
    top: 120px;
    height: 0;
    width: 300px;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .mobileLinks li:hover {
    transform: scale(1.2);
  }
  .mobileLinks.open {
    height: 300px;
    z-index: 2;
  }
  .mobileLinks li {
    padding: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobileLinks li:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
  }
  .mobileLinks a {
    text-decoration: none;
    color: aliceblue;
  }
}

@media (max-width: 1064px) {
.circle {
  position: absolute;
  top: 26vh;
  left: 20vh;
  background: linear-gradient(180deg, rgba(2,0,36,1) 6%, rgba(9,9,121,0.7) 52%, rgba(4,122,196,1) 80%, rgba(2,164,224,0.7) 89%, rgba(2,176,232,1) 91%, rgba(0,212,255,1) 95%);
  filter: blur(235px);
  border-radius: 50%;
  width: 450px;
  height: 450px;
  z-index: -10;
  background-size: cover;
}
  .social-icon-mobile {
    display: none;
  }
  .mobileLinks {
    left: 40%;
  }
  .topic {
    font-size: 40px;
    transform: translate(10%, -40%);
  }
  .home-decorate-image img {
    width: 450px;
  }
  .home-decorate-image {
    position: absolute;
    transform: translate(10%, 50%);
  }
}
@media (max-width: 830px) {
.circle {
  position: absolute;
  top: 26vh;
  left: 20vh;
  background: linear-gradient(180deg, rgba(2,0,36,1) 6%, rgba(9,9,121,0.7) 52%, rgba(4,122,196,1) 80%, rgba(2,164,224,0.7) 89%, rgba(2,176,232,1) 91%, rgba(0,212,255,1) 95%);
  filter: blur(235px);
  border-radius: 50%;
  width: 450px;
  height: 450px;
  z-index: -10;
  background-size: cover;
}

  .social-icon-mobile {
    display: none;
  }
  .home-decorate-image img {
    width: 350px;
  }
  .home-decorate-image {
    position: absolute;
    transform: translate(10%, 50%);
  }
}
@media (max-width: 728px) {
    .circle {
  left: 20vh;
}
  .social-icon-mobile {
    display: none;
  }

  .home-decorate-image img {
    width: 350px;
  }
  .home-decorate-image {
    position: absolute;
    align-items: baseline;
    transform: translate(35%, 52%);
  }
  .topic {
    width: 100%;
    font-size: 45px;
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 671px) {
    .circle {
  left: 0vh;
}
  .social-icon-mobile {
    display: contents;
    background: transparent;
  }
  .social-icon-mobile {
    position: absolute;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 25px;
  }
  .social-icon-mobile img {
    width: 45px;
  }
  .social-icon-mobile a {
    transition: transform 0.2s ease;
  }
  .social-icon-mobile a:hover {
    transform: scale(1.15);
  }
  .mobileLinks.open {
    height: 370px;
    z-index: 2;
  }
  .mobileLinks {
    left: -35%;
  }
  .social-icon {
    display: none;
  }
  nav {
    align-items: center;
    width: 100%;
    position: relative;
    justify-content: space-around;
  }
  .home-decorate-image {
    display: none;
  }
  .home-decorate-image-mobile {
    display: block;
    overflow: hidden;
  }
  .home-decorate-image-mobile img {
    position: absolute;
    bottom: 30px;
    max-width: 100%;
    max-height: 100%;
  }
  .topic {
    max-width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }
}

@media (max-width: 502px) {
    .mobileLinks {
      position: absolute;
      left: -180px;
  }
  .topic {
    font-size: 30px;
  }
.circle {
  position: absolute;
  top: 20vh;
  left: 0vh;
  width: 30px;
  height: 30px;

}
nav{
  width: 100%;
}
  .dropdownmenu{
    position:absolute;
    top:-15px;
    right: 25px;
  }

}
@media (max-width: 315px) {
  nav{
    width: 100%;
  }
  .dropdownmenu{
    position:absolute;
    top:-15px;
    right: 25px;
  }

}
