/*Home.css*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  font-family: "Rubik Doodle Shadow", system-ui;
}

body {
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  z-index: 999;
  background-image: url(..//../image/backgroundHome.png);
}
.nav-margin {
  display: flex;
  justify-content: center;
}
nav {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  padding-inline: 30px;
  padding: 10px;
  justify-content: space-between;
  z-index: 1111111;
}
.nav.scrolled {
  background-color: rgba(255, 255, 255, 1);
}

.Logo img {
  height: 50px;
  transition: transform 0.5s ease;
}
.Logo a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: #083663;
  font-size: 41px;
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
}
.Logo img:hover {
  transform: scale(1.1);
}

.main-uls {
  position: relative;
  display: flex;
  list-style: none;
  gap: 45px;
}
ul a {
  text-decoration: none;
}

.nav-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: 500;
  font-family: "Cardo", serif;
  color: #ffffff;
  padding: 10px;
  transition: transform 0.5s ease;
}
.nav-container.scrolled {
    color: #083663;

}
.nav-container:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  border-radius: 25px;
  transform: translate(0%, 10%);
}
.nav-container.scrolled:hover {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
  color: #083663;
}
.social-icon {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
}
.social-icon img {
  width: 35px;
}
.social-icon a {
  transition: transform 0.3s ease;
}
.social-icon a:hover {
  transform: scale(1.15);
}

.mobileLinks {
  display: none;
}
.dropdownmenu {
  display: none;
}
.social-icon-mobile {
  display: none;
}

@media (max-width: 1430px) {
  .social-icon-mobile {
    display: none;
  }
}
@media (max-width: 1171px) {
}
@media (max-width: 1195px) {
  .social-icon-mobile {
    display: none;
  }
  .nav-container {
    display: none;
  }

  .dropdownmenu {
    display: flex;
    align-items: center;
    font-size: 29px;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  .navbar-container {
    align-items: center;
    text-align: center;
    max-width: 650px;
    width: 75%;
    position: fixed;
  }
  .mobileLinks {
    display: table-row;
    position: absolute;
    top: 120px;
    height: 0;
    width: 300px;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .mobileLinks li:hover {
    transform: scale(1.2);
  }
  .mobileLinks.open {
    height: 300px;
    z-index: 2;
  }
  .mobileLinks li {
    padding: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobileLinks li:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
  }
  .mobileLinks a {
    text-decoration: none;
    color: aliceblue;
  }
}

@media (max-width: 1064px) {
  .social-icon-mobile {
    display: none;
  }
  .mobileLinks {
    left: 40%;
  }
}
@media (max-width: 830px) {
  .social-icon-mobile {
    display: none;
  }
}
@media (max-width: 728px) {
  .circle {
    left: 20vh;
  }
  .social-icon-mobile {
    display: none;
  }

  .home-decorate-image img {
    width: 350px;
  }
}
@media (max-width: 671px) {
  .social-icon-mobile {
    display: contents;
    background: transparent;
  }
  .social-icon-mobile {
    position: absolute;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 25px;
  }
  .social-icon-mobile img {
    width: 45px;
  }
  .social-icon-mobile a {
    transition: transform 0.2s ease;
  }
  .social-icon-mobile a:hover {
    transform: scale(1.15);
  }
  .mobileLinks.open {
    height: 370px;
    z-index: 2;
  }
  .mobileLinks {
    left: -35%;
  }
  .social-icon {
    display: none;
  }
  nav {
    align-items: center;
    width: 100%;
    position: relative;
    justify-content: space-around;
    margin-bottom: 3%;
  }
}

@media (max-width: 502px) {
  .mobileLinks {
    position: absolute;
    left: -180px;
  }
  .topic {
    font-size: 30px;
  }
  nav {
    width: 100%;
  }
  .dropdownmenu {
    position: absolute;
    top: -15px;
    right: 25px;
  }
}
@media (max-width: 315px) {
  nav {
    width: 100%;
  }
  .dropdownmenu {
    position: absolute;
    top: -15px;
    right: 25px;
  }
}

.Middle-section {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: auto;
  width: 100%;
  height: 80%;
}

.Middle-section .Left-side,
.Middle-section .Right-side{
  flex: 1;
  max-width: 50%;
  box-sizing: border-box;
}
.Left-side{
    position: absolute;
  left: 5%;
  top: 19%;
}
.Left-side img{
  width: 75%;
}
.Right-side{
  position: absolute;
  right: 5%;
  top: 5%;
}
