*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}



.flower_container {
  max-width: 80%;
  margin: auto;
  margin-top: 10%;
}

.swiper-slide {
  width: 30% !important;
  height: 22rem !important;
}

  .swiper-slide img {
    width: 120% ;
    height: 80% ;
    border-radius: 2rem;
  }

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2.4rem;

}

.slider-controler .swiper-button-next  {
  left: 63% !important;
}
.slider-controler .slider-arrow {
  left: 42%;
  transform: translateX(-42%);
}
.swiper-pagination {
  display: none;
}
